* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 15px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0;
    letter-spacing: 1.5px;
}
.nav-item {
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 10px;
    list-style-type: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}
.container-one {
    display: flex;
    margin: 10px 0;
}
.container-one p {
    margin-top: 20px;
}
h1 {
    text-align: left;
}
.container-two  {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.container-three {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
} 
.container-three img {
    width: 200px;
    height: 150px;
}
hr {
    margin-top: 20px;
}




































































